@model IEnumerable<CRDLPROJET.Models.facturation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="background-color:white">
    @{
        int val = 0;
    }
    @foreach (var item in Model)
    {
        val = item.facturationID;
    }

    @{
        int m = val + 1;
    }
    <br /><br /><br />
    <h3 style="text-align:center">Facture Numero:@m</h3>
    <h4 class="pull-right">@DateTime.Now.ToString("dddd, dd MMMM yyyy")</h4>
    <h4><strong>Nom Boutique:ADONAI</strong></h4><br />
    <h4><strong>AVENUE:MAZA</strong></h4><br />
    <h4><strong>Nom Boutiquier:NIYONZIMA Pacifique</strong></h4><br />
    <h4><strong>Tél +257 22226123/22226060</strong></h4><br />
    <br /><br />
    <h4><strong>Nom & Prenom Client:<br /><br /></strong></h4>
    <h4><strong>Numero Du Télephone:<br /><br /><br /><br /></strong></h4>

    <table class="table table-bordered" style="border:1px solid #000">

        <tr>
            <th style="border:1px solid #000">#No &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</th>

            <th style="border:1px solid #000"> Produit &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</th>

            <th style="border:1px solid #000">Quantite &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</th>

            <th style="border:1px solid #000">Prix Unitaire &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</th>

            <th style="border:1px solid #000">Total &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</th>

        </tr>



    </table>

    Montant Total:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;


    0 &emsp;Fbu
    <br /><br /><br /><br /><br /><br /><br /><br />
</div>